<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel = "stylesheet" type="text/css" href="/css/main.css">

</head>
<body>
<nav>
    <ul>
        <li><a href = "/"> Home </a></li>
        <li> <a href = "/about"> About </a></li>
        <li> <a href = "/resume"> Resumé </a></li>
        <li> <a href = "/blog"> Blog </a></li>
    </ul>
</nav>
<div class = "container">
    {{ content }}
</div> <!-- /.container -->
<footer>
    <ul>
        <li> <a href = "mailto: arthur.c@berkeley.edu"> Email </a></li>
        <li> <a href = "https://github.com/arthur-cen"> GitHub Profile </a> </li>
    </ul>
</footer>
</body>
</html>